	<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="assets/devoops/ajax/dashboard.html" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Charts</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="assets/devoops/ajax/charts_xcharts.html">xCharts</a></li>
						<li><a class="ajax-link" href="assets/devoops/ajax/charts_flot.html">Flot Charts</a></li>
						<li><a class="ajax-link" href="assets/devoops/ajax/charts_google.html">Google Charts</a></li>
						<li><a class="ajax-link" href="assets/devoops/ajax/charts_morris.html">Morris Charts</a></li>
						<li><a class="ajax-link" href="assets/devoops/ajax/charts_coindesk.html">CoinDesk realtime</a></li>
					</ul>
				</li>
			
				
			
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-list"></i>
						 <span class="hidden-xs">Pages</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="assets/devoops/ajax/page_login.html">Login</a></li>
						<li><a href="assets/devoops/ajax/page_register.html">Register</a></li>
						<li><a id="locked-screen" class="submenu" href="assets/devoops/ajax/page_locked.html">Locked Screen</a></li>
						<li><a class="ajax-link" href="assets/devoops/ajax/page_contacts.html">Contacts</a></li>

					</ul>
				</li>
			

			</ul>
		</div>