<div class="box ui-draggable ui-droppable">
	<div class="box-header">
		<div class="box-name">
			<i class="fa fa-circle"></i>
			<span>Server Administration</span>
		</div>
		<div class="box-icons">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
			<a class="expand-link">
				<i class="fa fa-expand"></i>
			</a>
			<a class="close-link">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="no-move"></div>
	</div>
	<div class="box-content">
		<h4 class="page-header">Toggle checkbox</h4>
		<div class="row form-group">
			
			<div class="col-sm-2">
				<div class="toggle-switch toggle-switch-primary">
					<label>
						<input type="checkbox">
						<div class="toggle-switch-inner"></div>
						<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
					</label>
				</div>
			</div>
		</div>
	
	</div>
</div>